<div class="user-edit">
  <div class="user-edit__header" mat-dialog-header>
    <h1 class="user-edit__title">{{'add-user-dialog.add-user-title' | translate}}</h1>
    <mat-icon class="user-edit__icon" (click)="closeDialog()">close</mat-icon>
    </div>
  <div mat-dialog-content>
    <form class="form" [formGroup]="userForm" (ngSubmit)="submitForm()">
      <div class="d-flex flex-column p-2">

        <mat-form-field appearance="outline">
          <mat-label>{{'add-user-dialog.form.first-name-label' | translate}}</mat-label>
          <input formControlName="firstName" matInput type="text" placeholder="Add meg a keresztneved">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'add-user-dialog.form.last-name-label' | translate}}</mat-label>
          <input formControlName="lastName" matInput type="text"
            placeholder="Add meg a vezetékneved">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'add-user-dialog.form.username-label' | translate}}</mat-label>
          <input formControlName="userName" matInput type="text"
            placeholder="Add meg a felhasználó nevet">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'add-user-dialog.form.password-label' | translate}}</mat-label>
          <input formControlName="password" matInput type="password"
            placeholder="Add meg a felhasználó jelszavát">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'add-user-dialog.form.email-label' | translate}}</mat-label>
          <input formControlName="email" matInput type="text"
            placeholder="Add meg a felhasználó email címét">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'add-user-dialog.form.phone-number-label' | translate}}</mat-label>
          <input formControlName="phoneNumber" matInput type="text"
            placeholder="Add meg a felhasználó telefonszámát">
        </mat-form-field>

        <button type="submit" class="btn btn-primary">{{'add-user-dialog.submit-btn' | translate}}</button>
      </div>
    </form>

  </div>
</div>
