.navigation {

  height: 70px;

  &__end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  &__select {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #444;
    padding: 4px;
    border-radius: 6px;
  }

  &__logout-btn {
    color: black;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
  }

  &__logo {
    cursor: pointer;
    width: 80px;
    height: auto;
  }

  &__profile-image {
    width: 40px;
    height: auto;
    margin: 0 15px;
  }
}

select {
  height: 40px;
}


