<nav class="navigation">
    <div class="d-flex justify-content-between container-fluid align-items-end">
      <img class="navigation__logo" src="/assets/logo/logo_transparent_background.png" alt="mxc-logo">
      <div *ngIf="showLogout" class="navigation__end">
        <span> {{'navigation.welcome' | translate}} <strong>{{userName}}</strong>!</span>
        <a class="navigation__logout-btn" svgIcon="logout" (click)="logout()">
          {{'navigation.logout' | translate}}
        </a>
      </div>
  </div>
</nav>

