<div class="user-edit" mat-dialog-header>
  <h1>{{'User Name'}}</h1>

  <form class="form" [formGroup]="userForm" >
    <div class="d-flex flex-column p-2">

      <mat-form-field appearance="outline">
        <mat-label>Keresztnév</mat-label>
        <input formControlName="firstName" matInput type="text" placeholder="Add meg a keresztneved">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Vezetéknév</mat-label>
        <input formControlName="lastName" matInput type="text"
          placeholder="Add meg a vezetékneved">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Felhasználó név</mat-label>
        <input formControlName="userName" matInput type="text"
          placeholder="Add meg a felhasználó nevet">
      </mat-form-field>

      <button type="submit" class="btn btn-primary">Szerkeeszés</button>
    </div>
  </form>

</div>
