.users-table {
  max-width: 100%;
  margin: 20px 40px;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
  }

  &__btn-group {
    display: flex;
  }

  &__icon {
    cursor: pointer;
  }
}
