<ng-container *ngIf="isLoading === false; else loadingSpinner">
  <div class="users-list">
    <div
      class="d-flex flex-column flex-sm-row justify-content-sm-between justify-content-center mb-5"
    >
      <h1 class="users-list__title">
        <fa-icon [icon]="faUser"></fa-icon> {{ "user-list.title" | translate }}
      </h1>
      <button class="btn btn-primary" (click)="openAddUserDialog()">
        <fa-icon [icon]="faPlus"></fa-icon>
        {{ "user-list.add-user-btn" | translate }}
      </button>
    </div>
    <app-users-table
      [data]="data"
      [usersLength]="usersLength"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPaginateChange($event)"
      (sort)="sortUsers($event)"
    ></app-users-table>
  </div>
</ng-container>
<ng-template #loadingSpinner>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
