<div class="users-table">
  <div class="users-table__header">
    <h1>Munkatársak</h1>
    <button class="btn btn-primary" (click)="openAddUserDialog()">Új munkatárs hozzadása</button>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="users-table__container">

      <!-- Username Column -->
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>
          Felhasználónév
        </th>
        <td mat-cell *matCellDef="let element" ó> {{element.userName}} </td>
      </ng-container>

      <!-- CreatedAt Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>
          Létrehozás dátuma
        </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>
          Szerkesztés </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="user-table__icon" (click)="editUserById(element.id)">edit</mat-icon>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>
          Törlés </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="user-table__icon" (click)="deleteUser(element)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

  <div class="users-table__paginator">
    <mat-paginator [length]="dataSource.length" [pageSize]="5" [pageSizeOptions]="[5, 10]" aria-label="Select page"
      (page)="onPaginateChange($event)">
    </mat-paginator>
  </div>

</div>
