<div class="login">
  <div class="d-flex justify-content-start w-100">
    <h1 class="text-uppercase"><fa-icon [icon]="faArrowRightFromBracket"></fa-icon> {{'login.title' | translate}}</h1>
  </div>
  <div *ngIf="hasError" class="alert alert-danger w-100" role="alert">
    {{'login.error-message' | translate}}
  </div>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="d-flex flex-column">

      <mat-form-field appearance="outline">
        <mat-label>{{'login.username-label' | translate}}</mat-label>
        <input formControlName="userName" matInput type="text" placeholder="{{'login.username-placeholder' | translate}}">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'login.password-label' | translate}}</mat-label>
        <input formControlName="password" matInput type="{{hidePassword ? 'password' : 'text'}}"
          placeholder="{{'login.password-placeholder' | translate}}">
        <mat-icon class="icon" matSuffix (click)="togglePasswordVisibility()">{{hidePassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>
      </mat-form-field>

      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">{{'login.login-btn' | translate}}</button>
    </div>
  </form>
</div>
