<div class="login">
  <div class="d-flex justify-content-start w-100 px-4">
    <h1 class="login__title">Bejelentkezés</h1>
  </div>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="d-flex flex-column p-2">

      <mat-form-field appearance="outline">
        <mat-label>Felhasználónév</mat-label>
        <input formControlName="userName" matInput type="text" placeholder="Add meg a felhasználó neved">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Jelszó</mat-label>
        <input formControlName="password" matInput type="{{hidePassword ? 'password' : 'text'}}"
          placeholder="Add meg a jelszavad">
        <mat-icon class="icon" matSuffix (click)="togglePasswordVisibility()">{{hidePassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>
      </mat-form-field>

      <button type="submit" class="btn btn-primary">Bejelentkezés</button>
    </div>
  </form>
</div>
